body {
    background-color: #f1f5f8;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 70px;
    margin-top: 1050px;
  }
  
  .card1 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: fit-content;
    padding: 0px 200px;
    margin-top: -200px;
  }
  
  .vision {
    background-color: #ededed;
    padding: 50px 40px;
  }
  
  .tittle {
    font-size: 35px;
    color: #354650;
    font-weight: bold;
    text-align: center;
  }
  
  .text {
    margin-top: 20px;
    font-size: 20px;
    color: #031824;
  }
  
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
  }
  
  .mission {
    background-color: #ffffff;
    text-align: center;
    padding: 90px 30px;
  }
  
  .tittle2 {
    font-size: 35px;
    color: #031824;
    font-weight: bold;
    text-align: center;
  }
  
  .text2 {
    font-size: 20px;
    color: #031824;
    text-align: justify;
    margin-top: 40px;
  }
  
  .team-tittle {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
  }
  
  .team-tittle hr {
    margin-top: -25px;
    height: 3px;
    border: #031824;
  }
  
  .container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    padding: 0px 100px;
  }
  
  .info {
    text-align: center;
  }
  
  .container3 img {
    width: 120px;
    height: 120px;
  }
  
  .info .name {
    color: #031824;
    font-size: 18px;
  }
  #banner {
    width: 100%;
    height: 100%;
    margin: 5px 5px 5px;
  }
  .slidershow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
  }
  
  .navigation1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 1000px;
  }
  
  .bar {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
  }
  
  .bar:hover {
    background: #4380a3;
    transition: 0.6s;
    border: 2px solid #031824;
  }
  
  input[name="bottom"] {
    position: absolute;
    visibility: hidden;
  }
  
  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide {
    width: 20%;
    transition: 0.6s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
  }
  
  #bottom_1:checked ~ .s1 {
    margin-left: 0;
  }
  #bottom_2:checked ~ .s1 {
    margin-left: -20%;
  }
  #bottom_3:checked ~ .s1 {
    margin-left: -40%;
  }
  #bottom_4:checked ~ .s1 {
    margin-left: -60%;
  }
  