.body {
    padding: 0px 5%;
}

.container {
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    background-size: 100% 100%;
}
.container- {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    background-size: 100% 100%;
}

.mainarticle {
    height: 80%;
    padding-right: 10px;
    font-size: 22px;
    font-weight: bolder;
}

.mainarticle img {
    width: 100%;
    max-height: 100%
}

.subarticle {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 33% 34% 33%;
    grid-row-gap: 2%;
}

.sub-item {
    font-weight: bold;
    font-size: 18px;
}

.subarticle img {
    width: 100%;
    max-height: 85%;
}

.trending {
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 15px;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

.trendingitem {
    height: 250px;
    width: 100%;
}

.trendingitem img {
    width: 100%;
    max-height: 300px;
}

.trendingitem img:hover {
    opacity: 80%;
    transition: 1s;
}

.article {
    height: 750px;
    padding: 0px 20px;
    text-align: justify;
    border: 1px solid #031824;
    background-color: whitesmoke;
    margin-right: 10px;
}

.article img {
    width: 100%;
    max-height: 350px;
    margin-top: 20px;
}