@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');
* {
    font-family: 'Montserrat', serif;
}

:root {
    --primary_green: #00B761;
    --primary_orange: #FF9330;
    --primary_gray: #686874;
    --light-gray: #C8C8D5;
}

#cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2%;
    margin: 2% 6.4%;
}

.cart-title,
.order-info-title {
    color: var(--primary_green);
    font-size: 22px;
}

.cart-title {
    width: 100%;
    background-color: #f1f1f1;
    padding: 25px 0 18px 25px;
}

.cart {
    display: grid;
    grid-template-columns: 4fr 1.75fr 1.5fr 1.75fr 0.8fr;
    background-color: var(--primary_green);
    margin: 2% 0;
    padding: 2%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.cart-product-container {
    margin-top: 10px;
}

.cart-product {
    display: grid;
    grid-template-columns: 4fr 1.75fr 1.5fr 1.75fr 0.8fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    margin: 5% 2%;
}

.cart-info {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.quantity-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.quantity-box button,
.quantity-box input {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 16px;
}

.quantity-decrease {
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.quantity-increase {
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

.cart-product div img {
    cursor: pointer;
}

.product-description {
    padding-left: 10%;
}

.other {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 0 2.5% 0;
}

.remove-all,
.back {
    background-color: var(--primary_green);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    font-size: 16px;
    width: 60%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.back {
    margin-left: 40%;
}

.order-info {
    width: 100%;
    background-color: #f1f1f1;
    padding: 25px;
}

.divider {
    border: 0;
    border-top: 2px solid var(--primary_gray);
    margin: 3% 0 5% 0;
}

.voucher,
.order-price {
    margin: 5% 0;
}

.voucher-title {
    font-size: 18px;
}

.voucher-info {
    display: grid;
    margin: 3% 0 8% 0;
    grid-template-columns: 3fr 1fr;
}

#input-voucher {
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--light-gray);
    border-right: none;
    background-color: white;
    color: black;
    font-style: bold;
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#input-voucher:focus {
    border: 1px solid var(--primary_green);
}

#input-voucher::placeholder {
    border: var(--primary_green);
    color: gray;
}

#apply {
    background-color: var(--primary_green);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#apply:hover {
    background-color: var(--light-gray);
}

#apply:disabled {
    background-color: var(--light-gray);
    cursor: not-allowed;
    color: white;
}

.order-price-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 16px;
    margin: 5% 0;
}

.line {
    height: 5px;
    background: url(/assets/img/bg_divider.png) repeat-x 10px;
    margin: 3% 0;
}

.process {
    background-color: var(--primary_green);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

