#body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    background: url(/assets/img/background_signin.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.container {
    margin-left: 50%;
    font-family: Montserrat;
    margin-top: 1.5%;
    font-size: 14px;
}

b {
    font-size: 24px;
}

.row {
    margin-top: 25px;
    width: 50%;
    padding-left: 15px;
    position: relative;
}

.or {
    margin-top: 50px;
    width: 50%;
    text-align: center;
}

.LoginWithFacebook {
    position: absolute;
    right: 0px;
}

div.LoginWithFacebook a {
    font-size: 14px;
}

div.LoginWithGG a {
    font-size: 14px;
}

.textbox {
    height: 40px;
    width: 50%;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;
    outline: 0;
}

.button {
    margin-top: 50px;
    background-color: #00B761;
    color: white;
    width: 50%;
    border: 2px solid #00B761;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.input {
    --uiFieldPlaceholderColor: var(--light-gray, #C8C8D5);
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: Montserrat;
    font-size: 16px;
}

.input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 16px);
}

.input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3.5rem);
    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .05rem) var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));
}

.input:focus {
    outline: none;
}

.input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.input::-moz-placeholder {
    opacity: 0;
    transition: opacity .2s ease-out;
}

.input:focus::-webkit-input-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.input:focus::-moz-placeholder {
    opacity: 1;
    transition-delay: .2s;
}

.label-wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.label-wrap::after {
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input:focus~.label-wrap::after {
    opacity: 1;
}

.label {
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    top: calc(50% - .5em);
    line-height: 1;
    font-size: var(--fieldHintFontSize, inherit);
    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
    will-change: bottom, opacity, font-size;
}

.input:focus~.label-wrap .label,
.input:not(:placeholder-shown)~.label-wrap .label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
    top: var(--fieldHintTopHover, .25rem);
}

.field .label-wrap {
    overflow: hidden;
}

.field .label-wrap::after {
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
}

.field .input:focus~.label-wrap::after {
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.field {
    --fieldBorderColor: #adc0b7;
    --fieldBorderColorActive: #00B761;
}

.page {
    box-sizing: border-box;
    width: 50%;
    display: grid;
    grid-gap: 20px;
    padding-top: 30px;
}

div.Signup {
    width: 50%;
    margin-top: 20px;
}

div.Signup p {
    text-align: center;
}

div.Signup a {
    color: #00B761;
}

.button {
    cursor: pointer;
}